<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CMM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.0/lib/codemirror.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='coda.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.0/lib/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.0/mode/clike/clike.js"></script>
    <script>
        let msgOK = (s) => {
            Toastify({
                text: s,
                duration: 3000,
                backgroundColor: "linear-gradient(to right, #197dc0, #197dc0)",
            }).showToast();
        }
        let msgFail = (s) => {
            Toastify({
                text: s,
                duration: 3000,
                backgroundColor: "linear-gradient(to right, #EF100F, #EF100F)",
            }).showToast();
        }
    </script>
    <style>
        .model {
            height: calc(100% - 112px);
        }

        .left {
            width: 50%;
            height: 100%;
            float: left;
            background-color: white;
        }

        .right {
            width: 50%;
            height: 100%;
            float: right;
            background-color: antiquewhite;
        }

        .CodeMirror {
            border: 1px solid #eee;
            height: auto;
        }

        html,
        body {
            height: 100%;
        }

        body {
            margin: 0;
        }

        .options {
            float: left;
        }

        .submit {
            float: right;
        }

        .textout {
            height: 75%;
        }
        .rightborder {
            border-right:1px solid #afb2b4;;
        }
        .row {
            padding-bottom: 0%;
            margin-bottom: 0%;
        }
    </style>
</head>

<body>
    <div style="height: 100%">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><span style="color:#197dc0;font-weight: 500;">CMM</span>&nbsp;<span
                    style="color:#0099FF">COMPILER</span></a>
        </nav>
        <div class="model">
            <div class="left rightborder" id="codeinput">
                <!-- 左半边
                <div contenteditable="plaintext-only" style="color:rgb(86,156,179)" onchange="handleChange()"
                    class="codeinput"  tabindex="-1" onkeydown="handlekeydown()">
                </div> -->
            </div>
            <div class="right">
                <!--右半边-->
                <div class="textout">
                    <div class="row" style="height: 100%;">
                        <div class="col-md-6 rightborder">
                            <h5>
                                中间代码(PCode)输出
                            </h5>
                            <p id="outputContent">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h5>
                                解释器输出
                            </h5>
                            <p id="stdoutput">
                            </p>
                        </div>
                    </div>
                    <!-- <hr> -->
                </div>
                <hr>
                <!-- <div class="imgout">
                    graph out
                    <img src="" alt="graph output" id="graph" style="display: none;height:200px">
                </div> -->
            </div>
        </div>
        <nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light" style="height:56px;text-align:left">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <span style="float:left;">
                        <label>logging</label>
                        <input type="radio" name="loggingToggle" value="on" onchange="toggleLevel()">on
                        <input type="radio" name="loggingToggle" value="off" checked="checked"
                            onchange="toggleLevel()">off
                    </span>
                </li>
                <li class="nav-item" style="margin-left:10px;">
                    <span style="float:right;margin-right:10px;">
                        <select id="loggingLevel" style="display:none">
                            <option value="debug">debug</option>
                            <option value="info" selected="selected">info</option>
                            <option value="warn">warn</option>
                            <option value="error">error</option>
                            <option value="fatal">fatal</option>
                        </select>
                    </span>
                </li>

            </ul>
            <ul class="navbar-nav  ml-auto" style="margin-right:1%;">
                <li class="nav-item">

                    <span>
                        <button onclick="save()" class="btn btn-outline-info">保存</button>
                    </span>
                    <span>
                        <button onclick="submit()" class="btn btn-outline-primary">编译并运行</button>
                    </span>
                </li>
            </ul>
            <ul class="navbar-nav" style="width:50%" id="slide">
                <li class="nav-item" id="movethis">
                    <img src="{{url_for('static',filename='trex.png')}}" height="50px" width="auto" id="moveimg">
                    <!-- <span>
                        <button onclick="save()">保存</button>
                    </span> -->
                </li>
            </ul>
        </nav>
    </div>
    <script>
        let $div = $("#movethis");
        let $img = $("#moveimg")
        let step = 7
        let timeout = 20
        let moveRight = true
        let keyQueue = new Array()
        var documentWidth = $(document).width() - $div.position().left - $img.width() - 5;//5是为防止浏览器出现滚动条
        console.log($div.position())
        console.log(parseInt($div.css('marginLeft')))
        var slideWidth = $("#slide").width()
        var iw = $img.width()
        let marginl = slideWidth - iw
        console.log(slideWidth, iw)
        let moveHandler = (keyCode) => {
            //一秒40
            let slideWidth = $("#slide").width()
            let ml = parseInt($div.css('marginLeft'))
            let newMl = moveRight ? (ml + step) : (ml - step)
            if (newMl > slideWidth - step * 4) {
                moveRight = false
                newMl = ml - step * 2
            } else if (newMl < 0) {
                moveRight = true
                newMl = ml + step * 2
            }
            $div.stop()
            $div.animate({
                marginLeft: keyCode !== 13 ? `${newMl}` : 0
            }, timeout).promise().then(res => {
                keyQueue.shift()
            })
        }
        $(document).keydown(function (event) {
            keyQueue.push(event.keyCode)
            moveHandler(event.keyCode)
        })
        let oldCode = localStorage.getItem("cmmcode")
        if (oldCode) { msgOK("恢复成功") }
        let oldCodeText = oldCode ? oldCode : ""
        let myCodeMirror = CodeMirror(document.getElementById("codeinput"), {
            value: oldCodeText,
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-c++src",
            theme: "coda",
        });
        let save = () => {
            try {
                localStorage.setItem("cmmcode", myCodeMirror.getValue())
                msgOK("保存成功")
            } catch (error) {
                msgFail("保存失败：" + error)
            }
        }
        let toggleLevel = () => {
            $("#loggingLevel").toggle()
        }
        let submit = () => {
            let codeinput = myCodeMirror.getValue()
            let logging = $('input[name="loggingToggle"]:checked').val();
            let loggingLevel = $("#loggingLevel").val()
            let result = {
                codeinput: codeinput,
                logging: logging,
                loggingLevel: loggingLevel
            }
            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(result)
            }).then(
                res => {
                    if (res.ok) {
                        return Promise.resolve(res.json())
                    } else {
                        return Promise.reject("服务器错误")
                    }
                }).then(
                    r => {
                        console.log(r)
                        $("#outputContent").html(r.pcode)
                        $("#stdoutput").html(r.output)
                        //$("#graph").attr("src", r.img)
                        $("#graph").show()
                    }
                ).catch(
                    err => {
                        msgFail(err)
                    })
        }
        let handlekeydown = (e) => {
            console.log(e)
        }
    </script>
</body>

</html>